body{
    background: #352f5b;
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}
.todos li{
    background: #423a6f;
}
.delete{
    cursor: pointer;
}
.filtered {
    display: none !important;
}
button[type="submit"] {
    background-color: #5a67d8; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #4c51bf; 
}

button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(90, 103, 216, 0.8);
}
