body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Main container*/
#mainContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* config form */
#quizConfig {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

#quizConfig label {
    font-size: 1em;
    color: #555;
}

#quizConfig input, #quizConfig select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

#quizConfig button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#quizConfig button:hover {
    background-color: #2980b9;
}

/* Styling for the quiz questions */
#quizForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; 
    justify-content: center;
}

.question {
    background-color: #f8f9fa;
    padding: 20px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.question label {
    display: block; 
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}


/* correct answers in green */
.correct-answer {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    font-weight: bold;
}

#quizForm button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#quizForm button:hover {
    background-color: #27ae60;
}

#timer {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.2em;
    color: red;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.correct-answer {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    font-weight: bold;
    padding: 5px;
    display: block;
    margin-top: 5px;
    border-radius: 5px;
}
